.twitter1 {
    width: 14em;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    box-sizing: border-box;
    background-color: #3C1D3D;
    border: .25em solid black;
    color: #FFF;
    padding: 1em 0;
    transform: translate(6.5765em, -2.4745em) rotate(45deg);
    /*Com um pouco de trigonometria, chegamos nas seguintes fórmulas para o quanto temos que transladar na horizontal e na vertical.
    Na horizontal: cos(45) * (altura - largura) + largura
    Na vertical: -1 * sen(45) * altura    
    Para simplificar, podemos definir uma largura para o link, independente da largura do texto dentro dele. Já a altura conseguimos calcular com facilidade se usarmos a medida em e a declaração line-height: 1 para que o texto tenha a altura de 1em exatamente.
 
    /* deixa alinhado*/
    text-align: center;
    /* tamanho*/
    /*Repare que a rotação foi feita pelo canto superior esquerdo do link, e não pelo centro do elemento, que é o padrão do navegador. Para mudarmos esse padrão, usamos a propriedade transform-origin. Como queremos que o canto superior seja a base para a rotação, usamos a declaração
*/
    transform-origin: 0 0;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Open Sans Condensad", sans-serif;
}

header {
    position: relative;
}

.palavras-home,
.titulo-principal {
    transform-style: preserve-3d;
}

.palavra-home {
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: rgb(7, 2, 2);
}

.palavras-home li {
    font-size: 400%;
}

.eficiencia {
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.45);
}

.boas-praticas {
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.35);
}

.codigo-limpo {
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px) scale(0.35);
}

.css3 {
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px) scale(0.25);
}

.html5 {
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
}

.javascript {
    top: 5%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px) scale(0.35);
}

.acessibilidade {
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.35);
}

.responsivo {
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.35);
}

.otimizacoes {
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(0.35);
}

.agilidade {
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px) scale(0.35);
}

.design {
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.45);
}


/*.eficiencia {
    top: 20%;
    left: 75%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.codigo-limpo {
    top: 45%;
    left: 10%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.css3 {
    top: 50%;
    left: 30%;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.html5 {
    top: 40%;
    left: 80%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.javascript {
    top: 10%;
    left: 60%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.acessibilidade {
    top: 30%;
    left: 25%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.responsivo {
    top: 15%;
    left: 15%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.otimizacoes {
    top: 60%;
    left: 70%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.agilidade {
    top: 10%;
    left: 30%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.design {
    top: 32%;
    left: 65%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}*/

.blog.inicio-post {
    background-color: rgb(10, 25, 31);
    position: absolute;
    top: 4em;
    right: 6em;
    height: 8em;
    padding: 1, 5em;
    left: 30%;
    color: rgb(32, 17, 17);
}

.blog.meio-post {
    background-color: rgb(153, 76, 168);
    position: absolute;
    top: 6em;
    right: 1em;
    height: 1em;
    padding: 0, 1em;
}

.blog.fim-post {
    background-color: rgb(98, 45, 109);
    position: absolute;
    top: 8em;
    right: 2em;
    height: 1em;
    padding: 0, 1em;
}

.foto-home {
    height: 200px;
    border-radius: 0 50%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

.saudacao-inicio {
    color: rgb(3, 3, 37);
    font-size: 3em;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    font-size: 2em;
    color: #000;
}

.saudacao em {
    color: #851944;
    font-size: 4em;
    transform: rotate(-5deg) skew(10deg);
    /*Repare que usamos o display: inline-block para que a transformação funcione e fazemos primeiro o skew para depois fazer o rotate. Se fizermos na ordem inversa, ficaremos com um resultado estranho, apesar de a diferença ser sutil.*/
    display: inline-block;
}


}
.saudacao em {
    color: #da276e;
}
.botao-index {
    position: relative;
    background-color: #a03131;
    border: .1em solid black;
    display: inline-block;
    color: #FFF;
    padding: .1em;
    left: 50%;
    transform: translateX(-50%);
    /* deixa alinhado*/
    
    text-align: center;
    padding-bottom: 0, 5em;
    /* tamanho*/
    
    width: 40ch;
    line-height: 2em;
    -webkit-depth: 10em;
    /* coloca opçao 3d no botao  ficticio*/
    
    -moz-depth: 10em;
}
.secao-inicio h2 {
    text-transform: uppercase;
}
.trabalhos {
    background-color: rgb(172, 29, 177);
    border-top: 10px solid #000;
    border-bottom: 10px solid rgb(124, 60, 60);
    padding-bottom: 3em;
    width: 100%;
}
.trabalhos h2 {
    color: rgb(231, 212, 212);
    font-size: 2em;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: rgb(75, 112, 70);
    color: #FFF;
    border-bottom: .5em solid #b8527b;
    position: relative;
}
.blog li a {
    color: rgb(66, 93, 173);
    padding: .5em;
    display: block;
    position: relative;
}
footer {
    background-color: rgba(143, 43, 43, 0.692);
    color: rgb(20, 4, 4);
}
footer a {
    color: rgb(48, 21, 167);
}
main {
    width: 100%;
    padding-bottom: 10em;
    float: none;
}
.blog small {
    position: relative;
    top: -2em;
}
html,
body {
    height: 100%;
    /*altura */
    
    overflow-x: hidden;
}
body {
    perspective: 6px;
    perspective-origin: 50% 160px;
}